body {
    margin: 0;
    margin-top: 55px;
    font-family: impact;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    background-color: #FFCC33;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 150vh;
    border: 2px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}

#hero .profile-img {
    width: 450px;
    border-radius: 60%
}

footer {
    text-align: center;
    padding: 15px;
}

#hero h1 {
    font-size: 2.5em;
}

section h2 {
    font-size: 2em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    color: chocolate;
}

/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(245,245,245,0.65),rgba(240,240,240,0.55)), url('file:///C:/Users/HP/Desktop/WEBSITE%20IMD311/IMAGES/2262042.jpg');
}

#about {
    background-image: linear-gradient(rgba(245,245,245,0.55),rgba(240,240,240,0.45)), url('https://i.pinimg.com/736x/bb/df/72/bbdf72c06ec7cbf603242a638edee895.jpg');
}

#contact {
    background-image: linear-gradient(rgba(245,245,245,0.75),rgba(240,240,240,0.65)), url('file:///C:/Users/HP/Desktop/WEBSITE%20IMD311/IMAGES/nadine-shaabana-pywan95C6lU-unsplash.jpg');
}

